body {
    background-color: black;
  }
  
  h1 {
    color: white;
    margin-right: 25%;
  }
  
  p {
    color: white;
  }
  
  .chapter {
    text-align: center;
    margin: 0;
    padding: 10px;
  }

hr {
  height: 5px;
  background-color: white;
  border-color: white;
}
  

  .highlightbox {
    display: inline-block;
    padding: 2px;
    border: 2px solid white;
    background-color: #333;
    color: white;
    border-radius: 2px;
    max-width: auto;
    display: inline-block;
  }
  
  .nomenclature {
    border: 2px solid white;
    background-color: #333;
    color: white;
    padding: auto;
    margin: 20px 0;
    color: white;
    max-width: auto;
    display: inline-block;
    overflow: auto;
  }
  
  .code {
    border: 2px solid white;
    background-color: #333;
    color: white;
    padding: 10px; /* Use a specific padding */
    text-align: left;
    margin: 10px 0;
    white-space: pre;
    overflow-x: auto; /* Allow horizontal scrolling if needed */
    width: 100%; /* Full width */
    max-width: 100%; /* Prevent overflow */
    box-sizing: border-box; /* Include padding and border in width calculations */
    display: block; /* Ensure it occupies full width */
}

  
  .rule-box {
    border: 2px solid white;
    background-color: #333;
    color: white;
    padding: auto;
    margin: 20px 0;
    color: red;
    max-width: auto;
    display: inline-block;
    overflow: auto;
  }
  
  .rule-box p {
    color: red;
  }
  
  .rule-box h1 {
    color: red;
  }
  
  .warning {
    border: 2px solid white;
    background-color: #333;
    color: white;
    padding: auto;
    margin: 20px 0;
    color: red;
    max-width: auto;
    display: inline-block;
    overflow: auto;
  }
  
  .warning p {
    color: red;
  }
  
  .warning h1 {
    color: red;
  }

  .best-practice {
    border: 2px solid white;
    background-color: #333;
    color: white;
    padding: auto;
    margin: 20px 0;
    color: green;
  }

  .best-practice p {
    color: green;
  }
  
  .best-practice h1 {
    color: green;
  }

.index {
  color: white;
}

.advancedReaders {
    border: 2px solid white;
    background-color: #333;
    color: white;
    padding: auto;
    margin: 20px 0;
    color: white;
    max-width: auto;
    display: inline-block;
    overflow: auto;
  }
